# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.eggs/

# Node
node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo
frontend/tsconfig.node.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js

# Misc
.env
.DS_Store
*.log
generate.py
generate_app.py
